
@import '../_.lessimport';

@panelWidth:    160px;
@contentWidth:  900px;




.adminLayout-lamp {


  position: fixed;
  left: 0px;
  top: 0px;
  width: @panelWidth;
  height: 100%;  
  text-align: center;

  background: #303840;
  border-right: 1px solid #101418;
}

.adminLayout-logo {
  font-family: Lobster;
  font-size: 16px;
  
  display: block;
  padding: 5px 0px 20px;
  cursor: pointer;

  & ._logo {
    color: #f8fcff;
  }

  & ._light, & ._dark {
    color: rgba(0,0,0,0);
  }

  &:hover, &:active {
    text-decoration: none;

    & ._light, & ._logo {
      color: #ff8800;
    }
    & ._dark {
      color: rgba(0,0,0,0);
    }
  }
}

.adminLayout-tabs {
  border-bottom: 1px solid #787c80;
  height: 40px;
  font-size: 0px;
}

.adminLayout-tab {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 24px;
  line-height: 40px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;


  text-align: center;
  color: #787c80;

  cursor: pointer;

  &:hover, &:active {
    color: #ff8800;
  };

  &:focus {
    color: #f8fcff;
  };
  
}

.adminLayout-tabActive {
  color: #f8fcff; 
  border: 1px solid #787c80;
  border-bottom-color: #303840;
}



.adminLayout-wrap {
  /*position: relative;*/
  padding: 0px 20px 0px 180px;
  /*background: rgba(255,0,0,0.125);*/
  /*width: auto;*/
}


.adminLayout-boxTopMenu {
  text-align: right;
  padding: 0px 20px;
  height: 24px;
  line-height: 24px;
  font-size: 0px;
  cursor: default;

  
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.adminLayout-boxTopMenu a {
  display: inline-block;
  background: #303840;
  padding: 0px 10px;
  font-size: 12px;
  color: #787c80;

  &:first-child {
    border-bottom-left-radius: 5px;
  };
  &:last-child {
    border-bottom-right-radius: 5px;
  };

  &:hover, &:active {
    background: #404850;
    color: #f8fcff;
    text-decoration: none;
  }
}

.adminLayout-box {
  /*position: relative;*/
  max-width: @contentWidth;
  margin: 0px auto;
  /*background: rgba(255,0,0,0.125);*/
  /*background: #c0c0c0;*/
}



.adminLayout-bulbs {
  text-align: center;
}

.adminLayout-bulbGroup {
  padding-top: 20px;
}

.adminLayout-bulb {
  display: block;
  position: relative;
  width: @panelWidth;
  height: 20px;
  line-height: 20px;
  text-align: left;
  

  color: #787c80;
  font-size: 0px;
    
  &:hover, &:active {
    text-decoration: none;
    color: #ff8800;
  }

  &:focus {
    color: #f8fcff;
  }

}

.adminLayout-bulbActive {
  color: #f8fcff;
}

.adminLayout-bulbIcon {
  display: inline-block;
  width: 40px;
  text-align: center;
  font-size: 16px;
  margin: 0px;
}

.adminLayout-bulbTitle {
  display: inline-block;
  text-align: left;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}


.adminLayout-subbulb {
  display: block;
  position: relative;
  width: @panelWidth;
  height: 20px;
  line-height: 20px;
  text-align: left;
  

  color: #787c80;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;


  background: #404850;
  padding: 0px 0px 0px 40px;

    
  &:hover, &:active {
    text-decoration: none;
    color: #ff8800;
  }

  &:focus {
    color: #f8fcff;
  }

}

.adminLayout-subbulbActive {
  color: #f8fcff;
}
